---
BasedOnStyle: Google
TabWidth: 4
IndentWidth: 4
ColumnLimit: 120
AlignArrayOfStructures: Left
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveBitFields:
  Enabled: true
AlignConsecutiveDeclarations:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
AlignConsecutiveTableGenBreakingDAGArgColons:
  Enabled: true
AlignConsecutiveTableGenCondOperatorColons:
  Enabled: true
AlignConsecutiveTableGenDefinitionColons:
  Enabled: true
---
